<div class="container">
  <div class="container">
    <h1 class="display-4 text-center">404 Not Found</h1>
  </div>
</div>

<br>
<br>

<div class="row">
  <div class="column-4">
    <button class="myButton text-center"><a href="/">← Back To Dashboard</a></button>
  </div>
</div>