/* OVERALL LAYOUT DESIGN */
.list-group-item {
  line-height: 2.5;
}

.container > h1 {
  color: transparent;
  background: #757575;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
  font-size: 50px;
}

.jumbotron {
  background: rgb(103,166,95);
  background: -moz-radial-gradient(circle, rgba(103,166,95,0.7049194677871149) 0%, rgba(82,82,82,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(103,166,95,0.7049194677871149) 0%, rgba(82,82,82,1) 100%);
  background: radial-gradient(circle, rgba(103,166,95,0.7049194677871149) 0%, rgba(82,82,82,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#67a65f",endColorstr="#525252",GradientType=1);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.navbar {
  background: rgb(103,166,95);
  background: -moz-linear-gradient(0deg, rgba(103,166,95,0.7497373949579832) 0%, rgba(82,82,82,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(103,166,95,0.7497373949579832) 0%, rgba(82,82,82,1) 100%);
  background: linear-gradient(0deg, rgba(103,166,95,0.7497373949579832) 0%, rgba(82,82,82,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#67a65f",endColorstr="#525252",GradientType=1);
}

/* LOGIN CSS */

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.hero{
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(images/pic1.jpg);
  background-position: center;
  background-size: cover;
  position: absolute;
}
.form-box{
  width: 380px;
  height: 480px;
  position: relative;
  margin: 6% auto;
  background:#fff;
  padding: 5px;
  overflow: hidden;

}
.button-box{
  width: 220px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 20px 9px #ff61241f;
  border-radius: 30px;
}
.toggle-btn{
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;

}
#btn{
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: linear-gradient(to right, #f1f4ffff, #a2a2a1ff);
  border-radius: 30px;
  transition: .5s;
}
.social-icons{
  margin: 30px auto;
  text-align: center;
}
.social-icons img{
  width: 30px;
  margin: 0 12px;
  box-shadow: 0 0 20px 0 #7f7f7f3d;
  cursor: pointer;
  border-radius: 50%;
  position: relative;

}
.input-group{
  top: 180px;
  position: absolute;
  width: 280px;
  transition: .5s;
}
.input-field{
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}
.submit-btn{
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right, #f1f4ffff, #a2a2a1ff);
  border: 0;
  outline: none;
  border-radius: 30px;

}
.check-box{
  margin: 30px 10px 30px 0;
}
span{
  color: #777;
  font-size: 12px;
  bottom: 68px;
  position: absolute;

}
#login{
  left: 50px;
}
#register{
  left: 450px;
}